# Build output
build/

# MSVC artifacts that land outside build/
*.pdb
*.ilk

# VS/Editor
.vs/
*.user
.vscode/

# OS
Thumbs.db
desktop.ini

# SDL Build artifacts
*.o
*.obj
*.so
*.dll
*.dylib

#Vendor 
vendor/
